@charset "utf-8";

/* global */
*{
	margin: 0;
	padding: 0;
}
body {
	height: 100%;
	min-width: 950px;
	font: 18px/1.5 'Helvetica Neue',Helvetica,Arial,sans-serif;
	background: #f2f2f2;
}
a {
	text-decoration: none;
	/*color: #000;*/
}


/* header */
header {
	position: fixed;
	width: 100%;
	height: 74px;
	top: 0;
	left: 0;
	box-sizing: border-box;
	z-index: 9999;
	background-color: #2d2d2e;
}
header .box{
	width: 950px;
	margin: 0 auto;
}
#logo {
	float: left;
}
header img {
	width: 341px;
	height: 74px;

}

nav {
	line-height: 74px;
	margin-right: 0;
	float: right;
}

nav li {
	float: left;
	margin: 0 10px;
	list-style: none;
}
nav li a {
	display: block;
	font-size: 16px;
	line-height: 74px;
	position: relative;	
	color: #c9c9c9;
}
nav li a:after {
	content: "";
	position: absolute;
	width: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 2px;
	background: #e36a00;
	/*opacity: 0;*/
	-webkit-transition: .2s ease-in;
	transition: .2s ease-in;
}
/*#menu li.active a,
nav li a:hover {
	color: #e36a00;
}*/
/*#menu li a.active{
	color: #00e4b8;

}*/
#menu li.active a:after,
nav li a:hover:after {
	width: 100%;
	/*opacity: 1;*/
}
/* header end */

/*预加载*/
/*.welcome{
	width: 100%;
	height: 100%;
	background: url("../images/welcome.jpg");
	background-color: #ffffff;
	position: fixed;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-transition: all .3s ease-in-out .5s;
	-moz-transition: all .3s ease-in-out .5s;
	-ms-transition: all .3s ease-in-out .5s;
	-o-transition: all .3s ease-in-out .5s;
	transition: all .3s ease-in-out .5s;
	z-index: 999;
}
.welcome p {
	display: block;
	position: absolute;
	width: 370px;
	height: 30px;
	padding-top: 240px;
	top: 50%;
	left: 50%;
	margin-top: -135px;
	margin-left: -185px;
	color: #2fd0b5;
	font-size: 20px;
	text-align: center;
	background: url(../images/welcome_words.png) no-repeat;
	overflow: hidden;
}*/
/* 预加载结束 */

/*首页*/

/*轮播图*/

/* main_image */
.main_image {
	height: 100%;
	overflow: hidden;
	position: relative;
}

.main_image ul {
	width: 9999px;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0
}
.main_image li {
	float: left;
	width: 100%;
	height: 100%;
	position: relative;
}
.main_image li span {
	display: block;
	width: 100%;
	height: 100%;
}
.main_image li a {
	display: block;
	width: 100%;
	height: 100%;
}
.main_image li .img_1 {
	background: url('../images/wallpaper1-1.jpg');
	background-size: cover;
	-moz-background-size: cover;
}
.main_image li .img_2 {
	background: url('../images/wallpaper1_2.jpg');
	background-size: cover;
	-moz-background-size: cover;
}
.main_image li .img_3 {
	background: url('../images/wallpaper1_3.jpg');
	background-size: cover;
	-moz-background-size: cover;
}
/*
.main_image li .img_4 {
	background: url('../images/wallpaper1_4.jpg');
	background-size: cover;
	-moz-background-size: cover;
}*/

/*文字描述*/
.main_image li .box{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	overflow: hidden;
}

/*第一张*/
.main_image li.n1 .box{
	width: 600px;
	height: 240px;
	position: absolute;
	top: 50%;
	margin-top: -120px;
	left: 50%;
	margin-left: -300px;
	background-color: #40444e;
	opacity: 0.8;
}
.border:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	border-top: 5px solid #ffffff;
	border-left: 5px solid #ffffff;
}
.border:after{
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 20px;
	height: 20px;
	border-bottom: 5px solid #e57919;
	border-right: 5px solid #e57919;
}
.main_image li.n1 .box .top {
	position: absolute;
	bottom: 80%;
	width: 100%;
	text-align: center;
	-moz-opacity: 0;
	opacity: 0;
	-webkit-transition: all .5s linear 0s;
	-moz-transition: all .5s linear 0s;
	-ms-transition: all .5s linear 0s;
	-o-transition: all .5s linear 0s;
	transition: all .5s linear 0s;
	z-index: 1000;
}
.main_image li.n1 .box .top span {
	font-size: 36px;
	color: #e57919;
}
.main_image li.n1 .box .mid {
	position: absolute;
	bottom: 35%;
	width: 100%;
	text-align: center;
	z-index: 1000;
}
.main_image li.n1 .box .mid span {
	font-size: 36px;
	color: White;
	-webkit-transition: all .3s linear 0s;
	-moz-transition: all .3s linear 0s;
	-ms-transition: all .3s linear 0s;
	-o-transition: all .3s linear 0s;
	transition: all .3s linear 0s;
}

.main_image li.n1 .box .bottom {
	position: absolute;
	top: 80%;
	width: 100%;
	margin-top: 15px;
	text-align: center;
	-moz-opacity: 0;
	opacity: 0;
	-webkit-transition: all .5s linear 0s;
	-moz-transition: all .5s linear 0s;
	-ms-transition: all .5s linear 0s;
	-o-transition: all .5s linear 0s;
	transition: all .5s linear 0s;
	z-index: 1000;
}
.main_image li.n1 .box .bottom span{
	display: block;
	width: 46%;
	margin-left: 30%;
	font-size: 16px;
	line-height: 25px;
	color: #e57919;
	border-bottom: 1px solid #e57919;
}

/*第二张*/
li.n2 .box .right{
	position: absolute;
	width: 50%;
	height: 100%;
	left: 50%;
	opacity: 0;
	background-color: #272727;
	z-index: 999;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
li.n2 .box .left{
	position: absolute;
	width: 50%;
	left: -50%;
	top: 0;
	text-align: right;
	box-sizing: border-box;
	padding-right: 20px;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
	z-index: 1000;
}

li.n2 .box .left span {
	margin-top: 20%;
	font-size: 36px;
	line-height: 36px;
	color: White;
}
li.n2 .box .left i {
	display: inline-block;
	width: 320px;
	height: 65px;
	background: url(../images/words.png) no-repeat 0px -72px;
}
li.n2 .box .left p {
	margin-top: 20px;
	font-size: 16px;
	line-height: 25px;
	color: #ccc;
}

/*第三张*/
li.n3 .box .top{
	font-size: 80px;
	color: White;
	margin-top: 15%;
	text-align: center;
	-moz-opacity: 0;
	opacity: 0;
	-webkit-transition: all .5s ease-in-out 0s;
	-moz-transition: all .5s ease-in-out 0s;
	-ms-transition: all .5s ease-in-out 0s;
	-o-transition: all .5s ease-in-out 0s;
	transition: all .5s ease-in-out 0s;
	z-index: 1000;
}
.n3 .box .mid {
	width: 358px;
	height: 66px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 10px;
	background: url(../images/words.png) no-repeat 0px -219px;
	-moz-opacity: 0;
	opacity: 0;
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	-ms-transition: all .3s ease-in-out 0s;
	-o-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
}
.n3 .box .bottom {
	width: 100%;
	color: #ccc;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	-moz-opacity: 0;
	opacity: 0;
	-webkit-transition: all .6s ease-in-out .3s;
	-moz-transition: all .6s ease-in-out .3s;
	-ms-transition: all .6s ease-in-out .3s;
	-o-transition: all .6s ease-in-out .3s;
	transition: all .6s ease-in-out .3s;
	z-index: 10;
}
/*
!*第4张*!
.n4 .box .top {
	position: absolute;
	bottom: 60%;
	width: 100%;
	text-align: center;
	-moz-opacity: 0;
	opacity: 0;
	-webkit-transition: all .3s linear 0s;
	-moz-transition: all .3s linear 0s;
	-ms-transition: all .3s linear 0s;
	-o-transition: all .3s linear 0s;
	transition: all .3s linear 0s;
	z-index: 1000;
}
.n4 .box .top span {
	font-size: 36px;
	color: White;
}

.n4 .box .top i {
	display: block;
	width: 325px;
	height: 64px;
	margin: 0 auto;
	margin-top: 15px;
	background: url(../images/words.png) no-repeat 0px -147px;
}

.n4 .box .bottom {
	position: absolute;
	top: 60%;
	width: 100%;
	margin-top: 15px;
	font-size: 16px;
	line-height: 25px;
	color: #ccc;
	text-align: center;
	-moz-opacity: 0;
	opacity: 0;
	-webkit-transition: all .5s linear 0s;
	-moz-transition: all .5s linear 0s;
	-ms-transition: all .5s linear 0s;
	-o-transition: all .5s linear 0s;
	transition: all .5s linear 0s;
	z-index: 1000;
}
*/

.main_visual {
	height: 100%;
	border-top: 1px solid #d7d7d7;
	overflow: hidden;
	position: relative;
}
div.flicking_con {
	position: absolute;
	top: 80%;
	left: 50%;
	z-index: 9999;
	width: 116px;
	margin-left: -58px;
	height: 8px;
}

div.flicking_con a {
	float: left;
	width: 32px;
	height: 8px;
	background-color: #959595;
	margin: 0 2px;
	padding: 0;
	/*background: url('../images/btn_main_img.png') 0 0 no-repeat;*/
	display: block;
	/*text-indent: -1000px*/
}

div.flicking_con a.on {
	background-color: #e57919;
}
/*向下按钮*/
.move-down {
	position: absolute;
	bottom: -2%;
	width: 100%;
	height: 100px;
	z-index: 1111;

}
.move-down a{
	position: absolute;
	display: block;
	left: 50%;
	margin-left: -30px;
	width: 46px;
	height: 46px;
	border-radius: 50%;
	background: url(../images/spirit-1.png) no-repeat -15px -9px;
	background-color: #f6e5dd;
}
.move-down a:hover{
	background: url(../images/spirit-1.png) no-repeat -69px -9px;
	background-color: #e57919;
}
/*首页结束*/

/*what can we do*/
.operation {
	background: url(../images/wallpaper2.jpg) no-repeat;
	background-size: cover;
}
.operation:after{
	content: '';
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #dbdbdb;
	opacity: 0.5;
}
.caption-c{
	width: 100%;
	height: 100px;
	position: absolute;
	top: 140px;
	text-align: center;
	z-index: 2;
	-moz-opacity: 0;
	opacity: 0;
	-webkit-transition: all .8s linear .5s;
	-moz-transition: all .8s linear .5s;
	-ms-transition: all .8s linear .5s;
	-o-transition: all .8s linear .5s;
	transition: all .8s linear .5s;
}
.operation.active .caption-c,
.services.active .caption-c,
.partner.active .caption-c,
.story.active .caption-c,
.process.active .caption-c{
	-moz-opacity: 1;
	opacity: 1;
}
.caption-c .c-top{
	display: block;
	position: absolute;
	left: 50%;
	top: 0;
}
.operation .caption-c .c-top{
	width: 300px;
	height: 44px;
	margin-left: -150px;
	background: url("../images/spirit-2.png") 0 0;
}
.services .caption-c .c-top{
	width: 238px;
	height: 29px;
	margin-left: -119px;
	background: url("../images/spirit-2.png") 0 -233px;
}
.partner .caption-c .c-top{
	width: 228px;
	height: 29px;
	margin-left: -114px;
	background: url("../images/spirit-2.png") 0 -261px;
}
.story .caption-c .c-top{
	width: 187px;
	height: 24px;
	margin-left: -93px;
	background: url("../images/spirit-2.png") 0 -340px;
}
.process .caption-c .c-top{
	width: 302px;
	height: 30px;
	margin-left: -151px;
	background: url("../images/spirit-2.png") 0 -310px;
}
.caption-c p{
	position: absolute;
	width: 100%;
	font-size: 16px;
	height: 20px;
	text-align: center;
}
.operation .caption-c p{
	top: 46px;
}
.services .caption-c p{
	top: 40px;
}
.partner .caption-c p{
	top: 40px;
}
.story .caption-c p,
.process .caption-c p{
	top: 35px;
}
.story .caption-c .c-bottom,
.process .caption-c .c-bottom{
	bottom: 22px;
}
.caption-c .c-bottom{
	display: block;
	width: 230px;
	height: 10px;
	background: url("../images/spirit-1.png") 0 0;
	position: absolute;
	left: 50%;
	bottom: 16px;
	margin-left: -115px;
}
.operation .box,
.process .box{
	width: 950px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	z-index: 2;
}
.operation .box ul.items{
	position: absolute;
	width: 100%;
	height: 400px;
	top: 300px;
}
.operation .box ul.items li {
	display: inline-block;
	width: 210px;
	height: 280px;
	margin: 0 8px;
	background: url(../images/bg-orange.png) no-repeat 0px 400px;
	overflow: hidden;
}
.operation .box ul.items li i {
	display: block;
	position: relative;
	margin: 0 auto;
	margin-top: 43px;
	height: 91px;

}
.operation .box ul.items li.web-can i {
	width: 91px;
	background: url(../images/spirit-1.png) no-repeat 0px -75px;
}
.operation .box ul.items li.app-can i {
	width: 91px;
	background: url(../images/spirit-1.png) no-repeat 0px -186px;
}
.operation .box ul.items li.wechat-can i {
	width: 94px;
	background: url(../images/spirit-1.png) no-repeat 0px -308px;
}
.operation .box ul.items li.hardware-can i {
	width: 91px;
	background: url(../images/spirit-1.png) no-repeat 0px -415px;
}

/*圆环*/
.operation .box ul.items li u {
	display: block;
	position: absolute;
	width: 178px;
	height: 178px;
	margin-top: -8px;
	margin-left: 16px;
	background: url(../images/spirit-2.png) no-repeat 0px -537px;
	-webkit-transition: all .5s ease-in-out 0s;
	-moz-transition: all .5s ease-in-out 0s;
	-ms-transition: all .5s ease-in-out 0s;
	-o-transition: all .5s ease-in-out 0s;
	transition: all .5s ease-in-out 0s;
}
/*刚进入页面时*/
/*右半圆*/
.operation .box ul.items li u.cl {
	clip: rect(0px, 178px, 0px, 89px);
}

.operation.active .box ul.items li u.cl {
	clip: rect(0px, 178px, 178px, 89px);
}
/*左半圆*/
.operation .box ul.items li u.cr {
	clip: rect(178px, 89px, 178px, 0px);
}

.operation.active .box ul.items li u.cr {
	clip: rect(0px, 89px, 178px, 0px);
}
/*hover时圆环*/
.operation .box ul.items li:hover u.cl {
	clip: rect(0px, 178px, 0px, 89px);
}

.operation .box ul.items li:hover u.cr {
	clip: rect(178px, 89px, 178px, 0px);
}

.operation .box ul.items li strong {
	display: block;
	margin-top: 50px;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
}

.operation .box ul.items li p {
	position: relative;
	top: 200px;
	color: White;
	font-family: Arial, "宋体";
	font-size: 12px;
	line-height: 20px;
	text-align: center;
}

.operation .box ul.items li:hover {
	background-position: 0px 0px;
	-webkit-transition: all .5s ease-in-out .3s;
	-moz-transition: all .5s ease-in-out .3s;
	-ms-transition: all .5s ease-in-out .3s;
	-o-transition: all .5s ease-in-out .3s;
	transition: all .5s ease-in-out .3s;
}

.operation .box ul.items li:hover i {
	-webkit-transition: all .5s ease-in-out .4s;
	-moz-transition: all .5s ease-in-out .4s;
	-ms-transition: all .5s ease-in-out .4s;
	-o-transition: all .5s ease-in-out .4s;
	transition: all .5s ease-in-out .4s;
}

.operation .box ul.items li.web-can:hover i {
	background: url(../images/spirit-1.png) no-repeat -145px -75px;
}
.operation .box ul.items li.app-can:hover i {
	background: url(../images/spirit-1.png) no-repeat -145px -186px;
}
.operation .box ul.items li.wechat-can:hover i {
	background: url(../images/spirit-1.png) no-repeat -145px -308px;
}
.operation .box ul.items li.hardware-can:hover i {
	background: url(../images/spirit-1.png) no-repeat -145px -415px;
}

.operation .box ul.items li:hover strong {
	color: White;
	-webkit-transition-delay: .4s;
	-moz-transition-delay: .4s;
	-ms-transition-delay: .4s;
	-o-transition-delay: .4s;
	transition-delay: .4s;
}

.operation .box ul.items li:hover p {
	top: 20px;
	-webkit-transition: all .3s ease-in-out .5s;
	-moz-transition: all .3s ease-in-out .5s;
	-ms-transition: all .3s ease-in-out .5s;
	-o-transition: all .3s ease-in-out .5s;
	transition: all .3s ease-in-out .5s;
}
/*what can we do end*/

/*web案例*/
.web,
.wechat {
	background: #333333;
	position: relative;
}
.web .left,
.web .right,
.wechat .left,
.wechat .right{
	height: 100%;
}
.web .left,
.wechat .left{
	width: 48%;
	box-sizing: border-box;
	padding-right: 80px;
	position: absolute;
	top: 0;
	left: 0;
/*	-webkit-transition: all .5s ease-in-out 0s;
	-moz-transition: all .5s ease-in-out 0s;
	-ms-transition: all .5s ease-in-out 0s;
	-o-transition: all .5s ease-in-out 0s;
	transition: all .5s ease-in-out 0s;*/
}

.web .left ul.list-number,
.wechat .left ul.list-number{
	width: 2px;
	height: 90px;
	position: absolute;
	top: 360px;
	left: 1%;
}
.web .left ul.list-number li.list-number-items,
.wechat .left ul.list-number li.list-number-items{
	position: relative;
	display: block;
	margin: 5px 0;
	width: 2px;
	height: 20px;
	background: #67696d;
	cursor: pointer;
}
.web .left ul.list-number li.list-number-items.active,
.wechat .left ul.list-number li.list-number-items.active{
	background: #ee6701;
}

.web .left .caption-l,
.wechat .left .caption-l{
	position: absolute;
	top: 134px;
	right: 1080px;
	-webkit-transition: all .4s ease-in-out .1s;
	-moz-transition: all .4s ease-in-out .1s;
	-ms-transition: all .4s ease-in-out .1s;
	-o-transition: all .4s ease-in-out .1s;
	transition: all .4s ease-in-out .1s;
}
.now .left .caption-l{
	right: 80px;
}
.web .left .caption-l .c-top{
	display: block;
	width: 185px;
	height: 34px;
	background: url("../images/spirit-2.png") -15px -44px;
}
.web .left .caption-l p,
.wechat .left .caption-l p{
	color: #ffffff;
	margin-top: 12px;
	padding-right: 20px;
	font-size: 16px;
	text-align: right;
}
.web .left ul.list,
.wechat .left ul.list{
	position: absolute;
	top: 210px;
	right: 80px;
}
.web .left ul.list li,
.wechat .left ul.list li{
	position: relative;
	width: 100%;
	text-align: right;
	list-style: none;
	margin: 50px 0;
	font-size: 10px;
	color: #ffffff;
	line-height: 30px;
	cursor: pointer;
}
.web .left ul.list li.list-items.active,
.web .left ul.list li.list-items.active strong,
.wechat .left ul.list li.list-items.active,
.wechat .left ul.list li.list-items.active strong
{
	color: #ee6701;
}

.list-items:after{
	content: '';
	position: absolute;
	display: block;
	z-index: 2;
	width: 25px;
	height: 25px;
	top: 50%;
	left: 100%;
	margin-left: 68px;
	margin-top: -12px;
	background: url("../images/spirit-2.png") no-repeat -215px -76px;
}

.list-items.active:after{
	background: url("../images/spirit-2.png") no-repeat -215px -111px;
}

.web .left ul.list li strong,
.wechat .left ul.list li strong{
	color: #ffffff;
	font-size: 20px;
	font-weight: 500;
	line-height: 40px;
}

.web .more a,
.wechat .more a{
	position: absolute;
	top: 600px;
	right: 80px;
	width: 96px;
	height: 20px;
	color: #ee6701;
}

.web .right ,
.wechat .right {
	width: 52%;
	background: url("../images/bg3r.png") no-repeat;
	background-size: cover;
	position: absolute;
	right: -52%;
	top: 0;
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	-ms-transition: all .3s ease-in-out 0s;
	-o-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
}

.now .right{
	right: 0;
}

.web .right:after,
.wechat .right:after{
	content: '';
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.6;
	background: #333333;

}

.web .right ul.list-img,
.wechat .right ul.list-img{
	display: block;
	position: relative;
	width: 400px;
	height: 300px;
	margin: 40% auto;
	padding: 0;
	overflow: hidden;
	z-index: 3;
}

.web .right ul.list-img li,
.wechat .right ul.list-img li{
	list-style: none;
	width: 400px;
	height: 300px;
	display: none;

}

.web .right ul.list-img li.block,
.wechat .right ul.list-img li.block{
	display: block;
}

.web .right ul.list-img li i,
.wechat .right ul.list-img li i{
	display: inline-block;
	width: 400px;
	height: 300px;
	z-index: 2;
}

.web .right ul.list-img>li:nth-child(1) i{
	background: url("../picture/web2.png") no-repeat;
	background-size: contain;
}

.web .right ul.list-img>li:nth-child(2) i{
	background: url("../picture/app2.png") no-repeat;
	background-size: contain;
}

.web .right ul.list-img>li:nth-child(3) i{
	background: url("../picture/wechat2.png") no-repeat;
	background-size: contain;
}
/*web case end */

/*webchat case */
.wechat .left .caption-l .c-top{
	display: block;
	width: 244px;
	height: 33px;
	background: url("../images/spirit-2.png") -0 -151px;
}

.wechat .right ul.list-img>li:nth-child(1) i{
	background: url("../picture/wechat2.png") no-repeat;
	background-size: contain;
}
.wechat .right ul.list-img>li:nth-child(2) i{
	background: url("../picture/app2.png") no-repeat;
	background-size: contain;
}
.wechat .right ul.list-img>li:nth-child(3) i{
	background: url("../picture/web2.png") no-repeat;
	background-size: contain;
}
/* webchat case end */
/*app hardware*/
.app,
.hardware {
	background: url("../images/bg4.jpg");
	background-size: cover;
	position: relative;
}
.app .left,
.app .right,
.hardware .left,
.hardware .right{
	height: 100%;
	/*box-sizing: border-box;
	padding: 0 140px;*/
}
.app .right,
.hardware .right{
	width: 48%;
	box-sizing: border-box;
	padding-left: 80px;
	position: absolute;
	top: 0;
	right: 0;
	/*	-webkit-transition: all .5s ease-in-out 0s;
        -moz-transition: all .5s ease-in-out 0s;
        -ms-transition: all .5s ease-in-out 0s;
        -o-transition: all .5s ease-in-out 0s;
        transition: all .5s ease-in-out 0s;*/
}



.app .right ul.list-number,
.hardware .right ul.list-number{
	width: 2px;
	height: 90px;
	position: absolute;
	top: 360px;
	/*margin-top: -45px;*/
	right: 1%;
}
.app .right ul.list-number li.list-number-items,
.hardware .right ul.list-number li.list-number-items{
	position: relative;
	display: block;
	margin: 5px 0;
	width: 2px;
	height: 20px;
	background: #67696d;
	cursor: pointer;
}
.app .right ul.list-number li.list-number-items.active,
.hardware .right ul.list-number li.list-number-items.active{
	background: #ee6701;
}

.app .right .caption-r,
.hardware .right .caption-r{
	position: absolute;
	top: 134px;
	left: 1080px;
	-webkit-transition: all .4s ease-in-out .1s;
	-moz-transition: all .4s ease-in-out .1s;
	-ms-transition: all .4s ease-in-out .1s;
	-o-transition: all .4s ease-in-out .1s;
	transition: all .4s ease-in-out .1s;
}
.now .right .caption-r{
	left: 80px;
}
.app .right .caption-r .c-top{
	display: block;
	width: 169px;
	height: 32px;
	background: url("../images/spirit-2.png") -21px -81px;
}
.app .right .caption-r p,
.hardware .right .caption-r p{
	color: #000000;
	margin-top: 12px;
	padding-left: 20px;
	font-size: 16px;
	/*font-weight: 100;*/
	text-align: left;
}
.app .right ul.list,
.hardware .right ul.list{
	position: absolute;
	top: 210px;
	left: 80px;
}
.app .right ul.list li,
.hardware .right ul.list li{
	position: relative;
	width: 100%;
	text-align: left;
	list-style: none;
	margin: 50px 0;
	font-size: 10px;
	color: #000000;
	line-height: 30px;
	cursor: pointer;
}
.app .right ul.list li.list-items.active,
.app .right ul.list li.list-items.active strong,
.hardware .right ul.list li.list-items.active,
.hardware .right ul.list li.list-items.active strong
{
	color: #ee6701;
}

.app .right ul.list li.list-items:nth-child(1):before,
.app .right ul.list li.list-items:nth-child(2):before,
.hardware .right ul.list li.list-items:nth-child(1):before,
.hardware .right ul.list li.list-items:nth-child(2):before{
	content: '';
	position: absolute;
	display: block;
	z-index: 2;
	width: 1px;
	height: 96px;
	top: 0;
	left: 0;
	margin-left: -80px;
	margin-top: 47px;
	background: #000000;
}

.app .right ul.list li.list-items:after,
.hardware .right ul.list li.list-items:after{
	content: '';
	position: absolute;
	display: block;
	z-index: 2;
	width: 25px;
	height: 25px;
	top: 50%;
	left: 0;
	margin-left: -92px;
	margin-top: -12px;
	background: url("../images/spirit-2.png") no-repeat -215px -76px;
}
.app .right ul.list li.list-items.active:after,
.hardware .right ul.list li.list-items.active:after{
	background: url("../images/spirit-2.png") no-repeat -215px -111px;
}
.app .right ul.list li strong,
.hardware .right ul.list li strong{
	color: #000000;
	font-size: 20px;
	font-weight: 500;
	line-height: 40px;
}
.app .more a,
.hardware .more a{
	position: absolute;
	top: 600px;
	left: 80px;
	width: 96px;
	height: 20px;
	color: #ee6701;
}
.app .left ,
.hardware .left {
	width: 52%;
	position: absolute;
	left: -52%;
	top: 0;
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	-ms-transition: all .3s ease-in-out 0s;
	-o-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
}
.now .left{
	left: 0;
}
/*.app .left:after,
.hardware .left:after{
	content: '';
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.6;
	background: #333333;

}*/
.app .left ul.list-img,
.hardware .left ul.list-img{
	position: relative;
	width: 400px;
	height: 300px;
	margin: 40% auto;
	padding: 0;
	overflow: hidden;
	z-index: 3;
}
.app .left ul.list-img li,
.hardware .left ul.list-img li{
	list-style: none;
	width: 400px;
	height: 300px;
	display: none;

}
.app .left ul.list-img li.block,
.hardware .left ul.list-img li.block{
	display: block;
}
.app .left ul.list-img li i,
.hardware .left ul.list-img li i{
	display: block;
	width: 400px;
	height: 300px;
	z-index: 2;
}
.app .left ul.list-img>li:nth-child(1) i{
	background: url("../picture/web2.png") no-repeat;
	background-size: contain;
}
.app .left ul.list-img>li:nth-child(2) i{
	background: url("../picture/app2.png") no-repeat;
	background-size: contain;
}
.app .left ul.list-img>li:nth-child(3) i{
	background: url("../picture/wechat2.png") no-repeat;
	background-size: contain;
}
/*web case end */

/*webchat case */
.hardware .right .caption-r .c-top{
	display: block;
	width: 283px;
	height: 33px;
	background: url("../images/spirit-2.png") -1px -191px;
}

.hardware .left ul.list-img>li:nth-child(1) i{
	background: url("../picture/wechat2.png") no-repeat;
	background-size: contain;
}
.hardware .left ul.list-img>li:nth-child(2) i{
	background: url("../picture/app2.png") no-repeat;
	background-size: contain;
}
.hardware .left ul.list-img>li:nth-child(3) i{
	background: url("../picture/web2.png") no-repeat;
	background-size: contain;
}
/*app hardware end*/

/* our services */
.services{
	background: url("../images/bg7.jpg");
	background-size: cover;
	position: relative;
}
.services:after{
	content: '';
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #454545;
	opacity: 0.5;
}
.services .box{
	position: relative;
	margin: 0 auto;
	width: 950px;
	height: 100%;
	z-index: 2;
}
.services ul.list-7{
	position: absolute;
	top: 250px;
	width: 100%;
	height: 300px;

}
.services ul.list-7 li{
	float: left;
	position: relative;
	width: 166px;
	height: 300px;
	margin: 100px 8px 0;
	overflow: hidden;
}
.services ul.list-7 li i{
	display: block;
	position: absolute;
	top: 40px;
	left: 50%;
	margin-left: -43px;
	width: 85px;
	height: 85px;
	overflow: hidden;
	z-index: 4;
	cursor: pointer;
	-webkit-transition: all .5s ease-in-out 0s;
	-moz-transition: all .5s ease-in-out 0s;
	-ms-transition: all .5s ease-in-out 0s;
	-o-transition: all .5s ease-in-out 0s;
	transition: all .5s ease-in-out 0s;
}
.services ul.list-7 li:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	width: 165px;
	height: 165px;
	background: url("../images/spirit-2.png") no-repeat 0 -724px;

}
.services ul.list-7 li i.i7-1{
	background: url("../images/spirit-1.png") no-repeat 0 -531px;
}
.services ul.list-7 li i.i7-2{
	background: url("../images/spirit-1.png") no-repeat 0 -649px;
}
.services ul.list-7 li i.i7-3{
	background: url("../images/spirit-1.png") no-repeat 0 -790px;
}
.services ul.list-7 li i.i7-4{
	background: url("../images/spirit-1.png") no-repeat 0 -905px;
}
.services ul.list-7 li i.i7-5{
	background: url("../images/spirit-1.png") no-repeat 0 -1015px;
}

.services ul.list-7 li i.i7-1:hover{
	background: url("../images/spirit-1.png") no-repeat -148px -531px;
}
.services ul.list-7 li i.i7-2:hover{
	background: url("../images/spirit-1.png") no-repeat -148px -649px;
}
.services ul.list-7 li i.i7-3:hover{
	background: url("../images/spirit-1.png") no-repeat -148px -790px;
}
.services ul.list-7 li i.i7-4:hover{
	background: url("../images/spirit-1.png") no-repeat -148px -905px;
}
.services ul.list-7 li i.i7-5:hover{
	background: url("../images/spirit-1.png") no-repeat -148px -1015px;
}

.services ul.list-7 li p{
	position: absolute;
	width: 100%;
	top: 330px;
	text-align: center;
	color: #ffffff;
	font-size: 14px;
	-webkit-transition: all .5s ease-in-out 0s;
	-moz-transition: all .5s ease-in-out 0s;
	-ms-transition: all .5s ease-in-out 0s;
	-o-transition: all .5s ease-in-out 0s;
	transition: all .5s ease-in-out 0s;
}
.now2 ul.list-7 li p{
	top:200px;

}
.services ul.list-7 li p strong{
	color: #ee6701;
	font-size: 20px;
}
/* our services end */

/* our partner */
.partner {
	background: url("../images/wallpaper3.jpg") no-repeat;
	background-size: cover;


}
.partner .box{
	position: relative;
	width: 950px;
	height: 100%;
	margin: 0 auto;
}
.partner ul.items {
	position: absolute;
	z-index: 0;
	top: 300px;
	width: 100%;
	height: 450px;
	overflow: hidden;
}

.partner ul.items li {
	position: relative;
	display: inline-block;
	padding: 0;
	width: 230px;
	height: 150px;
	overflow: hidden;
}
.partner ul.items li:before{
	content: '';
	position: absolute;
	display: block;
	width: 230px;
	height: 150px;
	left:0;
	top:0;
	background: url("../images/bg-orange.png") no-repeat 0 150px;
	z-index: 1;
	-webkit-transition: all .8s ease-in-out 0s;
	-moz-transition: all .8s ease-in-out 0s;
	-ms-transition: all .8s ease-in-out 0s;
	-o-transition: all .8s ease-in-out 0s;
	transition: all .8s ease-in-out 0s;
}
.partner ul.items>li:hover:before{
	background-position: 0px 0px;
}
.partner ul.items li:after{
	content: '';
	position: absolute;
	display: block;
	width: 230px;
	height: 150px;
	left:0;
	top:0;
	background: #eeeeee;
	opacity: 0;
	z-index: 3;
	-webkit-transition: all .2s ease-in-out .5s;
	-moz-transition: all .2s ease-in-out .5s;
	-ms-transition: all .2s ease-in-out .5s;
	-o-transition: all .2s ease-in-out .5s;
	transition: all .2s ease-in-out .5s;
}
.partner ul.items>li:hover:after{
	opacity: 0.3;
}
.partner ul.items li i{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 230px;
	height: 150px;
	z-index: 111;
}
.partner ul.items li.p8-1 i{
	top: 600px;
	background: url(../images/spirit-2.png) no-repeat 0 -890px;
	-webkit-transition: all .8s ease-in-out 0s;
	-moz-transition: all .8s ease-in-out 0s;
	-ms-transition: all .8s ease-in-out 0s;
	-o-transition: all .8s ease-in-out 0s;
	transition: all .8s ease-in-out 0s;
}

.partner ul.items li.p8-1 i:hover {
	background: url(../images/spirit-2.png) no-repeat 0 -1040px;
}

.partner ul.items li.p8-2 i{
	top: -400px;
	background: url(../images/spirit-2.png) no-repeat 0 -1190px;
	-webkit-transition: all .8s ease-in-out 0s;
	-moz-transition: all .8s ease-in-out 0s;
	-ms-transition: all .8s ease-in-out 0s;
	-o-transition: all .8s ease-in-out 0s;
	transition: all .8s ease-in-out 0s;
}

.partner ul.items li.p8-2 i:hover {
	background: url(../images/spirit-2.png) no-repeat 0 -1340px;
}

.partner ul.items li.p8-3 i{
	top: 600px;
	background: url(../images/spirit-2.png) no-repeat 0 -1490px;
	-webkit-transition: all .8s ease-in-out 0s;
	-moz-transition: all .8s ease-in-out 0s;
	-ms-transition: all .8s ease-in-out 0s;
	-o-transition: all .8s ease-in-out 0s;
	transition: all .8s ease-in-out 0s;
}

.partner ul.items li.p8-3 i:hover {
	background: url(../images/spirit-2.png) no-repeat 0 -1640px;
}

.partner ul.items li.p8-4 i{
	top: -400px;
	background: url(../images/spirit-2.png) no-repeat 0 -1790px;
	-webkit-transition: all .8s ease-in-out 0s;
	-moz-transition: all .8s ease-in-out 0s;
	-ms-transition: all .8s ease-in-out 0s;
	-o-transition: all .8s ease-in-out 0s;
	transition: all .8s ease-in-out 0s;
}

.partner ul.items li.p8-4 i:hover{
	background: url(../images/spirit-2.png) no-repeat 0 -1940px;
}


.partner ul.items li.p8-5 i{
	top: 600px;
	background: url(../images/spirit-2.png) no-repeat 0 -2090px;
	-webkit-transition: all .8s ease-in-out 0s;
	-moz-transition: all .8s ease-in-out 0s;
	-ms-transition: all .8s ease-in-out 0s;
	-o-transition: all .8s ease-in-out 0s;
	transition: all .8s ease-in-out 0s;
}

.partner ul.items li.p8-5 i:hover {
	background: url(../images/spirit-2.png) no-repeat 0 -2240px;
}

.partner ul.items li.p8-6 i{
	top: 450px;
	background: url(../images/spirit-2.png) no-repeat 0 -2390px;
	-webkit-transition: all .8s ease-in-out 0s;
	-moz-transition: all .8s ease-in-out 0s;
	-ms-transition: all .8s ease-in-out 0s;
	-o-transition: all .8s ease-in-out 0s;
	transition: all .8s ease-in-out 0s;
}

.partner ul.items li.p8-6 i:hover {
	background: url(../images/spirit-2.png) no-repeat 0 -2540px;
}


.partner ul.items li.p8-7 i{
	top: -550px;
	background: url(../images/spirit-2.png) no-repeat 0 -2690px;
	-webkit-transition: all .8s ease-in-out 0s;
	-moz-transition: all .8s ease-in-out 0s;
	-ms-transition: all .8s ease-in-out 0s;
	-o-transition: all .8s ease-in-out 0s;
	transition: all .8s ease-in-out 0s;
}

.partner ul.items li.p8-7 i:hover {
	background: url(../images/spirit-2.png) no-repeat 0 -2840px;
}

.partner ul.items li.p8-8 i{
	top: 450px;
	background: url(../images/spirit-2.png) no-repeat 0 -2990px;
	-webkit-transition: all .8s ease-in-out 0s;
	-moz-transition: all .8s ease-in-out 0s;
	-ms-transition: all .8s ease-in-out 0s;
	-o-transition: all .8s ease-in-out 0s;
	transition: all .8s ease-in-out 0s;
}

.partner ul.items li.p8-8 i:hover {
	background: url(../images/spirit-2.png) no-repeat 0 -3140px;
}
.now8 ul.items li.p8-1 i,
.now8 ul.items li.p8-2 i,
.now8 ul.items li.p8-3 i,
.now8 ul.items li.p8-4 i,
.now8 ul.items li.p8-5 i,
.now8 ul.items li.p8-6 i,
.now8 ul.items li.p8-7 i,
.now8 ul.items li.p8-8 i{
	top: 0;
}

.partner ul.items li.r {
	border-right: 1px solid #c5c5c5;
}

.partner ul.items li.b {
	border-bottom: 1px solid #c5c5c5;
}

.partner  ul.items li span {
	position: absolute;
	bottom: -30px;
}
/*

.partner ul.items li.bg.all {
	position: absolute;
	width: 1155px;
	height: 450px;
	background-color: White;
	-moz-opacity: 0.3;
	opacity: 0.3;
	filter: alpha(opacity=30);
}

.partner ul.items li.bg.one {
	position: absolute;
	background: #eee;
	-moz-opacity: 0.5;
	opacity: 0.5;
	filter: alpha(opacity=50);
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	-ms-transition: all .3s ease-in-out 0s;
	-o-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
	display: none;
}

.partner ul.mini {
	display: none;
}*/

/* our partner end*/

/* process concept */
.process {
	background: url(../picture/bg9.jpg) no-repeat;
	background-size: cover;
}
.process:after{
	content: '';
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #404040;
	opacity: 0.7;
}
.process .box ul.items{
	position: absolute;
	width: 950px;
	height: 420px;
	top: 240px;
	overflow: hidden;
}
.process .box ul.items li{
	position: absolute;
	list-style: none;
}
.process .box ul.items li.p9-1,
.process .box ul.items li.p9-9{
	width: 150px;
	height: 150px;
	border-radius: 50%;

	top: 140px;
}
.process .box ul.items li.p9-1{
	left: -50%;
	background: #64a6db;
	-moz-opacity: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .4s ease-in-out 0s;
	-moz-transition: all .4s ease-in-out 0s;
	-ms-transition: all .4s ease-in-out 0s;
	-o-transition: all .4s ease-in-out 0s;
	transition: all .4s ease-in-out 0s;
}
.now9 .box ul.items li.p9-1{
	left: 0;
	-moz-opacity: 1;
	opacity: 1;
	filter: alpha(opacity=1);
}
.process .box ul.items li.p9-9{
	right: -50%;
	background: #188dd6;
	-moz-opacity: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .4s ease-in-out 3.2s;
	-moz-transition: all .4s ease-in-out 3.2s;
	-ms-transition: all .4s ease-in-out 3.2s;
	-o-transition: all .4s ease-in-out 3.2s;
	transition: all .4s ease-in-out 3.2s;
}
.now9 .box ul.items li.p9-9{
	right: 0;
	-moz-opacity: 1;
	opacity: 1;
	filter: alpha(opacity=1);
}
.process .box ul.items li.p9-1:after{
	content: '';
	position: absolute;
	left: 150px;
	top: 75px;
	width: 650px;
	height: 2px;
	background: #868887;
}
.process .box ul.items li.p9-2{
	width: 100px;
	height: 100px;
	background: #188dd6;
	border-radius: 50%;

	top: 600px;
	left: 169px;
	-moz-opacity: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .4s ease-in-out .4s;
	-moz-transition: all .4s ease-in-out .4s;
	-ms-transition: all .4s ease-in-out .4s;
	-o-transition: all .4s ease-in-out .4s;
	transition: all .4s ease-in-out .4s;
}
.now9 .box ul.items li.p9-2{
	top: 260px;
	-moz-opacity: 1;
	opacity: 1;
	filter: alpha(opacity=1);
}

.process .box ul.items li.p9-2:before{
	content: '';
	position: absolute;
	top: -50%;
	left: 50%;
	margin-left: -12px;
	margin-top: -6px;
	width: 25px;
	height: 25px;
	background: url("../images/spirit-2.png") no-repeat -215px -111px;
	z-index: 3;
}
.process .box ul.items li.p9-2:after{
	content: '';
	position: absolute;
	left: 50%;
	top: -34px;
	width: 2px;
	height: 34px;
	background: #868887;
}

.process .box ul.items li.p9-3{
	width: 120px;
	height: 120px;
	background: #6688ba;
	border-radius: 50%;
	top: -260px;
	left: 250px;

	-moz-opacity: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .4s ease-in-out .8s;
	-moz-transition: all .4s ease-in-out .8s;
	-ms-transition: all .4s ease-in-out .8s;
	-o-transition: all .4s ease-in-out .8s;
	transition: all .4s ease-in-out .8s;
}
.now9 .box ul.items li.p9-3{
	top: 60px;
	-moz-opacity: 1;
	opacity: 1;
	filter: alpha(opacity=1);
}
.process .box ul.items li.p9-3:before{
	content: '';
	position: absolute;
	bottom: -50%;
	left: 50%;
	margin-left: -12px;
	margin-bottom: 12px;
	width: 25px;
	height: 25px;
	background: url("../images/spirit-2.png") no-repeat -215px -111px;
	z-index: 3;
}
.process .box ul.items li.p9-3:after{
	content: '';
	position: absolute;
	left: 50%;
	bottom: -25px;
	width: 2px;
	height: 25px;
	background: #868887;
}

.process .box ul.items li.p9-4{
	width: 130px;
	height: 130px;
	background: #3fb366;
	border-radius: 50%;
	top: 670px;
	left: 339px;

	-moz-opacity: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .4s ease-in-out 1.2s;
	-moz-transition: all .4s ease-in-out 1.2s;
	-ms-transition: all .4s ease-in-out 1.2s;
	-o-transition: all .4s ease-in-out 1.2s;
	transition: all .4s ease-in-out 1.2s;
}
.now9 .box ul.items li.p9-4{
	top: 270px;
	-moz-opacity: 1;
	opacity: 1;
	filter: alpha(opacity=1);
}
.process .box ul.items li.p9-4:before{
	content: '';
	position: absolute;
	top: -50%;
	left: 50%;
	margin-left: -12px;
	/*margin-top: 6px;*/
	width: 25px;
	height: 25px;
	background: url("../images/spirit-2.png") no-repeat -215px -111px;
	z-index: 3;
}
.process .box ul.items li.p9-4:after{
	content: '';
	position: absolute;
	left: 50%;
	top: -42px;
	width: 2px;
	height: 42px;
	background: #868887;
}
.process .box ul.items li.p9-5{
	width: 130px;
	height: 130px;
	background: #9966bb;
	border-radius: 50%;
	top: -600px;
	left: 420px;

	-moz-opacity: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .4s ease-in-out 1.6s;
	-moz-transition: all .4s ease-in-out 1.6s;
	-ms-transition: all .4s ease-in-out 1.6s;
	-o-transition: all .4s ease-in-out 1.6s;
	transition: all .4s ease-in-out 1.6s;
}
.now9 .box ul.items li.p9-5{
	top: 0;
	-moz-opacity: 1;
	opacity: 1;
	filter: alpha(opacity=1);
}
.process .box ul.items li.p9-5:before{
	content: '';
	position: absolute;
	bottom: -98px;
	left: 50%;
	margin-left: -12px;

	width: 25px;
	height: 25px;
	background: url("../images/spirit-2.png") no-repeat -215px -111px;
	z-index: 3;
}
.process .box ul.items li.p9-5:after{
	content: '';
	position: absolute;
	left: 50%;
	bottom: -73px;
	width: 2px;
	height: 73px;
	background: #868887;
}

.process .box ul.items li.p9-6{
	width: 150px;
	height: 150px;
	background: #ec7853;
	border-radius: 50%;
	top: 870px;
	left: 501px;

	-moz-opacity: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .4s ease-in-out 2s;
	-moz-transition: all .4s ease-in-out 2s;
	-ms-transition: all .4s ease-in-out 2s;
	-o-transition: all .4s ease-in-out 2s;
	transition: all .4s ease-in-out 2s;
}
.now9 .box ul.items li.p9-6{
	top: 270px;
	-moz-opacity: 1;
	opacity: 1;
	filter: alpha(opacity=1);
}
.process .box ul.items li.p9-6:before{
	content: '';
	position: absolute;
	top: -68px;
	left: 50%;
	margin-left: -12px;
	/*margin-top: 6px;*/
	width: 25px;
	height: 25px;
	background: url("../images/spirit-2.png") no-repeat -215px -111px;
	z-index: 3;
}
.process .box ul.items li.p9-6:after{
	content: '';
	position: absolute;
	left: 50%;
	top: -46px;
	width: 2px;
	height: 46px;
	background: #868887;
}

.process .box ul.items li.p9-7{
	width: 100px;
	height: 100px;
	background: #a78025;
	border-radius: 50%;
	top: -430px;
	left: 592px;

	-moz-opacity: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .4s ease-in-out 2.4s;
	-moz-transition: all .4s ease-in-out 2.4s;
	-ms-transition: all .4s ease-in-out 2.4s;
	-o-transition: all .4s ease-in-out 2.4s;
	transition: all .4s ease-in-out 2.4s;
}
.now9 .box ul.items li.p9-7{
	top: 30px;
	-moz-opacity: 1;
	opacity: 1;
	filter: alpha(opacity=1);
}
.process .box ul.items li.p9-7:before{
	content: '';
	position: absolute;
	bottom: -98px;
	left: 50%;
	margin-left: -12px;

	width: 25px;
	height: 25px;
	background: url("../images/spirit-2.png") no-repeat -215px -111px;
	z-index: 3;
}
.process .box ul.items li.p9-7:after{
	content: '';
	position: absolute;
	left: 50%;
	bottom: -74px;
	width: 2px;
	height: 74px;
	background: #868887;
}

.process .box ul.items li.p9-8{
	width: 140px;
	height: 140px;
	background: #3fb366;
	border-radius: 50%;
	top: 870px;
	left: 673px;

	-moz-opacity: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .4s ease-in-out 2.8s;
	-moz-transition: all .4s ease-in-out 2.8s;
	-ms-transition: all .4s ease-in-out 2.8s;
	-o-transition: all .4s ease-in-out 2.8s;
	transition: all .4s ease-in-out 2.8s;
}
.now9 .box ul.items li.p9-8{
	top: 270px;
	-moz-opacity: 1;
	opacity: 1;
	filter: alpha(opacity=1);
}
.process .box ul.items li.p9-8:before{
	content: '';
	position: absolute;
	top: -68px;
	left: 50%;
	margin-left: -12px;
	/*margin-top: 6px;*/
	width: 25px;
	height: 25px;
	background: url("../images/spirit-2.png") no-repeat -215px -111px;
	z-index: 3;
}
.process .box ul.items li.p9-8:after{
	content: '';
	position: absolute;
	left: 50%;
	top: -46px;
	width: 2px;
	height: 46px;
	background: #868887;
}

.process .box ul.items li i{
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 66px;
	margin-left: -33px;
}
.process .box ul.items li span{
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	display: block;
	position: absolute;
}
.process .box ul.items li.p9-1 span,
.process .box ul.items li.p9-9 span{
	bottom: 20px;
	left: 45px;
}
.process .box ul.items li.p9-2 span{
	bottom: 10px;
	left: 25px;
	font-size: 12px;
}
.process .box ul.items li.p9-3 span{
	bottom: 10px;
	left: 35px;
	font-size: 14px;
}
.process .box ul.items li.p9-4 span{
	bottom: 14px;
	left: 37px;
}
.process .box ul.items li.p9-5 span{
	bottom: 18px;
	left: 37px;
}
.process .box ul.items li.p9-6 span{
	bottom: 20px;
	left: 40px;
}
.process .box ul.items li.p9-7 span{
	bottom: 10px;
	left: 38px;
	font-size: 12px;
}
.process .box ul.items li.p9-8 span{
	bottom: 14px;
	left: 55px;
}
.process .box ul.items li.p9-1 i{
	height: 59px;
	background: url("../images/9spirit.png") 0 0;
	margin-top: -29px;
}
.process .box ul.items li.p9-2 i{
	height: 38px;
	background: url("../images/9spirit.png") 0 -81px;
	margin-top: -19px;
}
.process .box ul.items li.p9-3 i{
	height: 58px;
	background: url("../images/9spirit.png") 0 -141px;
	margin-top: -29px;
}
.process .box ul.items li.p9-4 i{
	height: 55px;
	background: url("../images/9spirit.png") 0 -220px;
	margin-top: -27px;
}
.process .box ul.items li.p9-5 i{
	height: 57px;
	background: url("../images/9spirit.png") 0 -296px;
	margin-top: -28px;
}
.process .box ul.items li.p9-6 i{
	height: 63px;
	background: url("../images/9spirit.png") 0 -375px;
	margin-top: -31px;
}
.process .box ul.items li.p9-7 i{
	height: 42px;
	background: url("../images/9spirit.png") 0 -460px;
	margin-top: -21px;
}
.process .box ul.items li.p9-8 i{
	height: 67px;
	background: url("../images/9spirit.png") 0 -524px;
	margin-top: -33px;
}
.process .box ul.items li.p9-9 i{
	height: 70px;
	background: url("../images/9spirit.png") 0 -613px;
	margin-top: -35px;
}

.process .box ul.items li.p9-1:hover,
.process .box ul.items li.p9-9:hover{
	box-shadow: 0 0 30px #64a6db;
}
.process .box ul.items li.p9-2:hover{
	box-shadow: 0 0 30px #188dd6;
}
.process .box ul.items li.p9-3:hover{
	box-shadow: 0 0 30px #6688ba;
}
.process .box ul.items li.p9-4:hover{
	box-shadow: 0 0 30px #3fb366;
}
.process .box ul.items li.p9-5:hover{
	box-shadow: 0 0 30px #9966bb;
}
.process .box ul.items li.p9-6:hover{
	box-shadow: 0 0 30px #ec7853;
}
.process .box ul.items li.p9-7:hover{
	box-shadow: 0 0 30px #a78025;
}
.process .box ul.items li.p9-8:hover{
	box-shadow: 0 0 30px #3fb366;
}


/* process concept end */





/* our story */
.story{
	position: relative;
}
.story .left,
.story .right{
	width: 50%;
	height: 100%;
	float: left;
}

.story .left .box{
	width: 480px;
	margin: 0 auto;
	height: 100%;
	position: relative;
	overflow: hidden;

}
.story .left .box .p10-1 p,
.story .left .box .p10-2 p{
	text-align: left;
}
.story .left .box .p10-1{
	position: absolute;
	right: 0;
	top: 2200px;
	-webkit-transition: all .8s ease-in-out 0s;
	-moz-transition: all .8s ease-in-out 0s;
	-ms-transition: all .8s ease-in-out 0s;
	-o-transition: all .8s ease-in-out 0s;
	transition: all .8s ease-in-out 0s;
}
.story.now10 .left .box .p10-1{
	top: 200px;
}
.story.now10 .left .box .p10-2{
	top: 420px;
}
.story.now10 .left .box .p10-3{
	top: 540px;

}
.story .left .box .p10-1 p{
	margin-top: 30px;
}
.story .left .box .p10-2{
	position: absolute;
	right: 0;
	top: 2420px;
	-webkit-transition: all .8s ease-in-out .8s;
	-moz-transition: all .8s ease-in-out .8s;
	-ms-transition: all .8s ease-in-out .8s;
	-o-transition: all .8s ease-in-out .8s;
	transition: all .8s ease-in-out .8s;
}
.story .left .box .p10-3{
	position: absolute;
	width: 100%;
	right: 0;
	top: 2540px;
	-webkit-transition: all .8s ease-in-out 1.6s;
	-moz-transition: all .8s ease-in-out 1.6s;
	-ms-transition: all .8s ease-in-out 1.6s;
	-o-transition: all .8s ease-in-out 1.6s;
	transition: all .8s ease-in-out 1.6s;
}
.story .left .box .p10-2 h3,
.story .left .box .p10-3 p,
.story .left .box .p10-3 h3{
	text-align: center;
}
.story .right{
	right: 0;
	background: url("../picture/10r.png");
	background-size: cover;
}
/* our story end */

/* contact*/
.contact{
	background: url("../picture/bg11.jpg") 0 90%;
	background-size: cover;
	position: relative;
}
.contact:after{
	content: '';
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #0c0c0c;
	opacity: 0.8;
}
.contact .box{
	width: 923px;
	height: 400px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.contact .box>div{
	position: absolute;
	top: 100px;
	z-index: 3;
}
.contact .box .left{
	width: 222px;
	height: 222px;
	left: -50%;
	-webkit-transition: all .4s ease-in-out 0s;
	-moz-transition: all .4s ease-in-out 0s;
	-ms-transition: all .4s ease-in-out 0s;
	-o-transition: all .4s ease-in-out 0s;
	transition: all .4s ease-in-out 0s;
}
.now11 .box .left{
	left:0;
}
.contact .box .center{
	top: -600px;
	left: 280px;
	color: #ffffff;
	-webkit-transition: all .4s ease-in-out 0s;
	-moz-transition: all .4s ease-in-out 0s;
	-ms-transition: all .4s ease-in-out 0s;
	-o-transition: all .4s ease-in-out 0s;
	transition: all .4s ease-in-out 0s;
}
.now11 .box .center{
	top: 100px;
}
.contact .box .center h1{
	text-align: center;
}
.contact .box .center i{
	display: block;
	margin: 32px 0;
	width: 250px;
	height: 70px;
	background: url("../images/spirit-2.png") 0 -387px;
}
.contact .box .center ul li{
	display: inline-block;
}
.contact .box .center ul li a{
	color: #ffffff;
}
.contact .box .right{
	-webkit-transition: all .4s ease-in-out 0s;
	-moz-transition: all .4s ease-in-out 0s;
	-ms-transition: all .4s ease-in-out 0s;
	-o-transition: all .4s ease-in-out 0s;
	transition: all .4s ease-in-out 0s;
	right: -50%;
}
.now11 .box .right{
	right: 0;
}
.contact .box .right i{
	display: block;
	margin-bottom: 25px;
	width: 180px;
	height: 24px;background: url("../images/spirit-2.png") 0 -484px;
}
.contact .box .right p{
	color: #ffffff;
	font-size: 18px;
	line-height: 34px;
}
.contact .footer{
	width: 100%;
	height: 60px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #000000;
	opacity: 0.6;
	z-index: 6;
}
.contact .footer .copyright{
	width: 950px;
	margin: 0 auto;
	color: #ffffff;
	text-align: center;
	font-size: 18px;
	line-height: 60px;

}
/* contact end */